* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #3d3d3d;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1680px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-bottom: 130px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  /* or 60px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.separate-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  color: #ff6b09;
}

.second-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.container-guarantee {
  width: 1314px;
  margin-left: auto;
  margin-right: auto;
}

.guarantee-item {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  color: #3d3d3d;
  padding-left: 40px;
}

.guarantee-item:not(:last-child) {
  margin-bottom: 20px;
}

.list.guarantee-list {
  position: relative;
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-right: 112px;
  padding-left: 112px;
}

.list.guarantee-list :before {
  position: absolute;
  z-index: 1;
  content: '';
  left: -10px;
  bottom: 50%;
  display: block;
  width: 22px;
  height: 30px;
  margin-right: 30px;
  background-image: url("../images/icons/fire.svg");
}

.list.guarantee-list :after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -16px;
  display: block;
  width: 0px;
  height: 40px;
  border: 1px dashed #b9b9b9;
}

.guarantee-item:last-child::after {
  display: none;
}

.container-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1258px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.review-block {
  width: 1090px;
  background: #ffffff;
  -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 51px;
  padding-left: 82px;
  padding-right: 112px;
}

.review-person {
  margin-right: 40px;
}

.reviews-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #3d3d3d;
}

.reviews-subtitle {
  margin-bottom: 10px;
  color: #ff6b09;
}

.second-text {
  margin-bottom: 20px;
}

.list .reviews-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-item {
  margin-right: 30px;
}

.button-arrow-left {
  display: block;
  background-color: transparent;
  cursor: pointer;
  margin-right: 60px;
  background-image: url("../images/icons/SVG/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  width: 25px;
}

.button-arrow-right {
  display: block;
  background-color: transparent;
  cursor: pointer;
  margin-left: 60px;
  background-image: url("../images/icons/SVG/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  width: 25px;
}

.social-icons-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: #436eab;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover, .social-icons-link:focus {
  cursor: pointer;
  background-color: black;
  fill: tomato;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #111518;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #111518;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */