* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #3d3d3d;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1680px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-bottom: 130px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  /* or 60px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.separate-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  color: #ff6b09;
}

.second-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.section-guarantee {
  background-color: #ffffff;
}

.container-guarantee {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) {
  .container-guarantee {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .container-guarantee {
    width: 688px;
  }
}

@media (min-width: 1316px) {
  .container-guarantee {
    width: 1314px;
  }
}

.guarantee-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
  padding-top: 50px;
}

@media (min-width: 1316px) {
  .guarantee-title {
    font-size: 46px;
    margin-bottom: 50px;
    padding-top: 130px;
  }
}

.guarantee-item {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #3d3d3d;
  padding-left: 28px;
}

.guarantee-item:not(:last-child) {
  margin-bottom: 23px;
}

@media (min-width: 768px) {
  .guarantee-item {
    padding-left: 32px;
  }
  .guarantee-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1316px) {
  .guarantee-item {
    font-size: 20px;
    line-height: 28px;
    padding-left: 40px;
  }
  .guarantee-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.list.guarantee-list {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 31px;
  padding-right: 20px;
  padding-left: 27px;
}

@media (min-width: 768px) {
  .list.guarantee-list {
    padding-right: 50px;
    padding-left: 86px;
  }
}

@media (min-width: 1316px) {
  .list.guarantee-list {
    padding-top: 50px;
    padding-bottom: 45px;
    padding-right: 112px;
    padding-left: 112px;
  }
}

.list.guarantee-list :before {
  position: absolute;
  z-index: 1;
  content: '';
  left: -10px;
  top: 0;
  display: block;
  width: 15px;
  height: 20px;
  background-image: url("../images/icons/fire.svg");
  background-size: contain;
}

@media (min-width: 1316px) {
  .list.guarantee-list :before {
    width: 22px;
    height: 30px;
  }
}

.list.guarantee-list :after {
  position: absolute;
  content: '';
  left: -4px;
  bottom: -16px;
  display: block;
  width: 0px;
  height: 68px;
  border: 1px dashed #b9b9b9;
}

@media (min-width: 768px) {
  .list.guarantee-list :after {
    height: 30px;
  }
}

@media (min-width: 1316px) {
  .list.guarantee-list :after {
    height: 40px;
    left: 0;
  }
}

.guarantee-item:last-child::after {
  display: none;
}

.accent-text {
  color: #ff6b09;
}

.section-reviews {
  background-color: #ffffff;
}

.container-reviews {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container-reviews {
    width: 713px;
  }
}

@media (min-width: 1316px) {
  .container-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1258px;
  }
}

.reviews-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 20px;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .reviews-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1316px) {
  .reviews-title {
    font-size: 46px;
    margin-bottom: 50px;
    padding-top: 130px;
  }
}

.review-block {
  background: #ffffff;
  -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

@media (min-width: 768px) {
  .review-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1316px) {
  .review-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    padding-bottom: 51px;
    padding-left: 82px;
    padding-right: 112px;
  }
}

@media (min-width: 768px) {
  .review-person {
    margin-right: 46px;
  }
}

@media (min-width: 1316px) {
  .review-person {
    margin-right: 40px;
  }
}

.review-photo {
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 320px) {
  .review-photo {
    margin: auto;
  }
}

.review-content {
  text-overflow: ellipsis;
}

.reviews-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
  margin-bottom: 10px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .reviews-subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
  }
}

@media (min-width: 1316px) {
  .reviews-subtitle {
    font-size: 30px;
    line-height: 37px;
    text-align: left;
    margin-bottom: 10px;
  }
}

.reviews-secondary-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .reviews-secondary-text {
    text-align: left;
    margin-bottom: 20px;
  }
}

@media (min-width: 1316px) {
  .reviews-secondary-text {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-bottom: 20px;
  }
}

.review-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #3d3d3d;
}

@media (min-width: 768px) {
  .review-text {
    text-align: start;
  }
}

@media (min-width: 1316px) {
  .review-text {
    font-size: 18px;
    line-height: 28px;
    text-align: start;
  }
}

.list .reviews-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list .reviews-names:nth-child(n + 4) {
  display: none;
}

@media (min-width: 768px) {
  .list .reviews-names {
    margin-top: 30px;
  }
}

@media (min-width: 1316px) {
  .list .reviews-names {
    margin-top: 40px;
    margin-bottom: 130px;
  }
}

.reviews-item:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .reviews-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1316px) {
  .reviews-item:not(:last-child) {
    margin-right: 30px;
  }
}

.button-arrow-left {
  display: block;
  background-color: transparent;
  cursor: pointer;
  margin-right: 60px;
  background-image: url("../images/icons/SVG/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  width: 25px;
}

.button-arrow-right {
  display: block;
  background-color: transparent;
  cursor: pointer;
  margin-left: 60px;
  background-image: url("../images/icons/SVG/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  width: 25px;
}

.social-icons-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #436eab;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover, .social-icons-link:focus {
  cursor: pointer;
  background-color: #436eab;
  fill: white;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #111518;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #111518;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */