.container-guarantee {
  width: 1314px;
  margin-left: auto;
  margin-right: auto;
}
.guarantee-item {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  color: #3d3d3d;
  padding-left: 40px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.list.guarantee-list {
  position: relative;
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-right: 112px;
  padding-left: 112px;

  :before {
    position: absolute;
    z-index: 1;
    content: '';
    left: -10px;
    bottom: 50%;
    display: block;
    width: 22px;
    height: 30px;
    margin-right: 30px;
    background-image: url('../images/icons/fire.svg');
  }

  :after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -16px;
    display: block;
    width: 0px;
    height: 40px;
    border: 1px dashed #b9b9b9;
  }
}

.guarantee-item:last-child::after {
  display: none;
}
